.banners {
  margin: 5px;
  box-shadow: 0px 0px 10px 0px grey;
  transition: transform 0.2s; /* Animation */
}
.banners-gif {
  margin: 5px;
  box-shadow: 0px 0px 10px 0px grey;

}
.banners:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0px #040b14;
  z-index: 9999;
}
.smaller {
  bottom: 3px;
  left: 3px;
  text-shadow: 2px 2px 0px black;
}
.banner728x90px {
  min-width: 728px;
  min-height: 90px;
  max-width: 728px;
  max-height: 90px;
}
.banner468x60px {
  min-width: 468px;
  min-height: 60px;
  max-width: 468px;
  max-height: 60px;
}
.banner160x600px {
  min-width: 160px;
  min-height: 600px;
  max-width: 160px;
  max-height: 600px;
}
.banner120x600px {
  min-width: 120px;
  min-height: 600px;
  max-width: 120px;
  max-height: 600px;
}
.banner336x280px {
  min-width: 336px;
  min-height: 280px;
  max-width: 336px;
  max-height: 280px;
}
.banner250x250px {
  min-width: 250px;
  min-height: 250px;
  max-width: 250px;
  max-height: 250px;
}

.banner300x250px {
  min-width: 300px;
  min-height: 250px;
  max-width: 300px;
  max-height: 250px;
}
.banner250x239 {
  min-width: 250px;
  min-height: 239px;
  max-width: 250px;
  max-height: 239px;
}
/* Social Media */
.banner1024x512px {
  min-width: 1024px;
  min-height: 512px;
  max-width: 1024px;
  max-height: 512px;
}
.banner1200x630px {
  min-width: 1200px;
  min-height: 630px;
  max-width: 1200px;
  max-height: 630px;
}
.banner320x1080px {
  min-width: 320px;
  min-height: 1080px;
  max-width: 320px;
  max-height: 1080px;
}
.banner1080x1080px {
  min-width: 1080px;
  min-height: 1080px;
  max-width: 1080px;
  max-height: 1080px;
}
.banner600x900px {
  min-width: 600px;
  min-height: 900px;
  max-width: 600px;
  max-height: 900px;
}
