@tailwind base;

@tailwind components;
@tailwind utilities;
@import 'prismjs/themes/prism.css';

html {
    font-family: var(--font-inter);
}

h1 {
    font-family: var(--font-roboto-mono);
}

h1 {
    font-size: 2.25rem;
    line-height: 3.5rem;
    margin: 20px 0px;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
    margin: 20px 0px;
}

h3 {
    font-size: 1.75rem;
    line-height: 2rem;
    margin: 20px 0px;
}

h4 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 20px 0px;
}

h5 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 20px 0px;
}

h6 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 10px 0px;
}



/* src/app/globals.css */

body {
    transition: background-color 0.3s, color 0.3s;
}

body.dark {
    background-color: #121212;
    color: #ffffff;
}

body.light {
    background-color: #ffffff;
    color: #000000;
}

:root {
    --primary: transparent;
    --secondary: #64748b;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
}

pre {
    max-width: 768px;
    color: var(--tw-prose-pre-code);
    background-color: #dddddd;
    text-shadow: none !important;
    overflow-x: auto;
    font-weight: 400;
    font-size: .875em;
    line-height: 1.7142857;
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
    border-radius: .375rem;
    padding: .8571429em 1.1428571em;
}

.content-area p, .content-area span, .content-area h1, .content-area h2, .content-area h3, .content-area h4, .content-area h5, .content-area h6 {
    max-width: 768px;
}